nodered flow
[
    {
        "id": "32e6b1c785b786d2",
        "type": "tab",
        "label": "Sonoff Zigbee2Domoticz",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a6a5a94e584da383",
        "type": "mqtt in",
        "z": "32e6b1c785b786d2",
        "name": "",
        "topic": "tele/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "b1bc1db1ae7424c0",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 560,
        "wires": [
            [
                "7f8b0447b2aab70c"
            ]
        ]
    },
    {
        "id": "fcdf7fc73dd7af70",
        "type": "mqtt out",
        "z": "32e6b1c785b786d2",
        "name": "MQTT Server",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1bc1db1ae7424c0",
        "x": 1720,
        "y": 720,
        "wires": []
    },
    {
        "id": "28760220d0b4981f",
        "type": "comment",
        "z": "32e6b1c785b786d2",
        "name": "Tasmota commands",
        "info": "ZbPermitJoin 1 = pairing mode voor 60sec\n\nZbName = Friendly name invoeren\n   voorbeeld: ZbName 0x2590,Test_deurcontact\n   \nZbForget <device> = verwijderen device\n\nChange channel:\nZbConfig {\"Channel\":12}\n\nChange panid:\nZbConfig {\"PanID\":\"0x1A69\"}\nhttps://tasmota.github.io/docs/Commands/#zbconfig",
        "x": 330,
        "y": 320,
        "wires": []
    },
    {
        "id": "adf1e03e1e45ba46",
        "type": "comment",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi Deurcontact",
        "info": "Which domoticz dummy needed:\n- Switch (schakelaar)\n\nCode send by device:\nDevice: \"0x2590\"\nName: \"Test_deurcontact\"\nContact: 0  (0=contact dicht, 1=contact open)\nEndpoint: 1\nLinkQuality: 134",
        "x": 3050,
        "y": 160,
        "wires": []
    },
    {
        "id": "ba9518b91748cf45",
        "type": "comment",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi Beweging",
        "info": "Which domoticz dummy needed:\n- Switch motion (schakelaar beweging)\n\nCode send by device:\nDevice: \"0x11F0\"\nName: \"Test_beweging\"\nOccupancy: 1 (Occupancy 1 = motion, 0 = no motion)\nEndpoint: 1\nLinkQuality: 173",
        "x": 3040,
        "y": 240,
        "wires": []
    },
    {
        "id": "e8b6a0c9bf81e4bc",
        "type": "comment",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi Rookmelder",
        "info": "Which domoticz dummy needed:\n- Switch (schakelaar)\n\nCode send by device:\n3 messages when pushing test button\n\n*** Bericht 1:***\nDevice: \"0x7460\"\nName: \"Test_rookmelder\"\nModelId: \"lumi.sensor_smoke\"\nEndpoint: 1\nLinkQuality: 157\n\n*** Bericht 2:***\nDevice: \"0x7460\"\nName: \"Test_rookmelder\"\n0500<00: 00000FF0000\nZoneStatusChange: 0\nFire: 0\nEndpoint: 1\nLinkQuality: 157\n\n*** Bericht 3:***\nDevice: \"0x7460\"\nName: \"Test_rookmelder\"\nBatteryVoltage: 3.05\nBatteryPercentage: 100\nSmokeDensity: 0\nEndpoint: 1\nLinkQuality: 157\n",
        "x": 3050,
        "y": 320,
        "wires": []
    },
    {
        "id": "0f01862f36be38ab",
        "type": "switch",
        "z": "32e6b1c785b786d2",
        "name": "Filter Topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "RESULT",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "STATE",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "SENSOR",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "domoticz/out",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "INFO1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "INFO2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "INFO3",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "LWT",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 670,
        "y": 580,
        "wires": [
            [
                "38309599e8c8d9e1"
            ],
            [
                "d4a33985746fb725"
            ],
            [
                "7b575e0384d79c38"
            ],
            [
                "42ee16d8e12d67f4"
            ],
            [
                "d7df5ed598257739"
            ],
            [
                "83800a22948e6211"
            ],
            [
                "83166d5da37022e7"
            ],
            [
                "57712e7cca74ee29"
            ],
            [
                "d49bd6378f71a628"
            ]
        ]
    },
    {
        "id": "d4a33985746fb725",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Topic State",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 460,
        "wires": []
    },
    {
        "id": "38309599e8c8d9e1",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Topic Result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 420,
        "wires": []
    },
    {
        "id": "d49bd6378f71a628",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Topic not in filter",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 740,
        "wires": []
    },
    {
        "id": "d7df5ed598257739",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Topic Info1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 580,
        "wires": []
    },
    {
        "id": "83166d5da37022e7",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Topic Info3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 660,
        "wires": []
    },
    {
        "id": "83800a22948e6211",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Topic Info2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 620,
        "wires": []
    },
    {
        "id": "1bda201a500415c1",
        "type": "comment",
        "z": "32e6b1c785b786d2",
        "name": "Osram Mini Switch",
        "info": "Which domoticz dummy needed:\n- Selector switch (keuzeschakelaar)\n\nSelector switch setup:\n0   = Off\n10  = Up\n20  = Up: hold\n30  = Up: release\n40  = Circle: click\n50  = Circle: hold\n60  = Circle: release\n70  = Down\n80  = Down: hold\n90  = Down: release\n100 = Standby\n\nCode send by device:\n*** Knop omhoog kort ***\nDevice: \"0x5FE5\"\nName: \"Test_osramswitch\"\n0006!01: \"\"\nPower: 1\nEndpoint: 1\nLinkQuality: 157\n\n*** Knop omhoog lang ***\nDevice: \"0x5FE5\"\nName: \"Test_osramswitch\"\n0008!03: \"\"\nDimmerStop: true\nEndpoint: 1\nLinkQuality: 157\n\n*** Knop midden kort bericht 1 ***\nDevice: \"0x5FE5\"\nName: \"Test_osramswitch\"\n0008!04: \"FE0A00\"\nDimmer: 254\nPower: 1\nEndpoint: 3\nLinkQuality: 157\n\n*** Knop midden kort bericht 2 ***\nDevice: \"0x5FE5\"\nName: \"Test_osramswitch\"\n0300!0A: \"72010A00\"\nCT:370\nEndpoint: 3\nLinkQuality: 157\n\n*** Knop midden lang bericht 1 ***\nDevice: \"0x5FE5\"\nName: \"Test_osramswitch\"\n0300!03: \"FE0200\"\nSat: 254\nEndpoint: 3\nLinkQuality: 157\n\n*** Knop midden lang bericht 2 ***\nDevice: \"0x5FE5\"\nName: \"Test_osramswitch\"\n0300!01: \"0119\"\nHueMove: 1\nEndpoint: 3\nLinkQuality: 157\n\n*** Knop midden lang bericht 3 ***\nDevice: \"0x5FE5\"\nName: \"Test_osramswitch\"\n0003!01: \"0000\"\nHueMove: 0\nEndpoint: 3\nLinkQuality: 157\n\n*** Knop omlaag kort ***\nDevice: \"0x5FE5\"\nName: \"Test_osramswitch\"\n0006!00: \"\"\nPower: 0\nEndpoint: 2\nLinkQuality: 157\n\n*** Knop omlaag lang ***\nDevice: \"0x5FE5\"\nName: \"Test_osramswitch\"\n0008!01: \"0126\"\nDimmerMove: 1\nEndpoint: 2\nLinkQuality: 157\n\n",
        "x": 3050,
        "y": 400,
        "wires": []
    },
    {
        "id": "08ef5d34fa2f5b9a",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "To MQTT Server",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 680,
        "wires": []
    },
    {
        "id": "ad071cf746fd4fd2",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "name": "add src",
        "func": "msg.src = 'tasmota';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 540,
        "wires": [
            [
                "0f01862f36be38ab"
            ]
        ]
    },
    {
        "id": "3d4832ee8bb60568",
        "type": "comment",
        "z": "32e6b1c785b786d2",
        "name": "Lidl CCT bulb",
        "info": "Which domoticz dummy needed:\n- Switch (schakelaar)\n\nCode send by device:\nDevice: \"0xAF37\"\nName: \"Test_Lamp\"\nPower: 1\nDimmer: null\nHue: 0\nSat: 254\nX: 45874\nY: 19660\nCT: 153  // 153 = warm white, 500 = cold\nColorMode: 1\nRGB: \"FF0000\"\nRGBb: \"000000\"\nEndpoint: 1\nLinkQuality: 134",
        "x": 3030,
        "y": 460,
        "wires": []
    },
    {
        "id": "2ecc0c65e522d6ab",
        "type": "mqtt in",
        "z": "32e6b1c785b786d2",
        "name": "",
        "topic": "domoticz/out",
        "qos": "2",
        "datatype": "auto",
        "broker": "b1bc1db1ae7424c0",
        "inputs": 0,
        "x": 170,
        "y": 620,
        "wires": [
            [
                "7e37ed3f80e6353e"
            ]
        ]
    },
    {
        "id": "7e37ed3f80e6353e",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "name": "add src",
        "func": "msg.src = 'domoticz';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 620,
        "wires": [
            [
                "0f01862f36be38ab"
            ]
        ]
    },
    {
        "id": "bf65146bd8d167aa",
        "type": "json",
        "z": "32e6b1c785b786d2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1170,
        "y": 520,
        "wires": [
            [
                "269bdd93eaa30e8b"
            ]
        ]
    },
    {
        "id": "e4ed3f9404692874",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "MQTT Server",
        "links": [
            "fe1b30e1681a0b63",
            "b6f143479743cebb",
            "996c20a7f43bb922",
            "7c39b8f4766d8af2",
            "1f300e21c525ad4d",
            "38b2d29beeb9a423",
            "b58fbdd1751a2cd8",
            "34ebad78371bfc78",
            "b0b36a57add1ac04",
            "3f1912b0dfd34a67",
            "4651c83ecce552f8",
            "5b1817084e40c724",
            "507ba46b5bd868d8",
            "a4e976adce8e3559",
            "f7a9bdcae6412aef",
            "32e21a68283df2bb",
            "fff088000ef81383"
        ],
        "x": 1575,
        "y": 700,
        "wires": [
            [
                "fcdf7fc73dd7af70",
                "08ef5d34fa2f5b9a"
            ]
        ]
    },
    {
        "id": "57712e7cca74ee29",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Topic LWT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 700,
        "wires": []
    },
    {
        "id": "7b575e0384d79c38",
        "type": "json",
        "z": "32e6b1c785b786d2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 930,
        "y": 500,
        "wires": [
            [
                "273c9ce4a5f2a5fc",
                "1805c2bdbbc563df",
                "397d1f72ee768ae0"
            ]
        ]
    },
    {
        "id": "273c9ce4a5f2a5fc",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Tasmota Json Receive",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 480,
        "wires": []
    },
    {
        "id": "c870e39f002e4de2",
        "type": "comment",
        "z": "32e6b1c785b786d2",
        "name": "Todo list",
        "info": "- Voltage batterij voor alle devices checken\n- Heiman Co controlleren.\n- Xiaomi temperatuur\n    - voorspelling kijken\n    - batterij toevoegen",
        "x": 300,
        "y": 360,
        "wires": []
    },
    {
        "id": "269bdd93eaa30e8b",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "name": "Tasmota ID filter",
        "func": "var idx_zigbee_table = [\n  //[ device type(0), domoticz idx(1), domoticz idx battery voltage(2), domoticz idx battery percentage(3), domoticz idx link quality(4), Extra function (5), tasmota device(6), tasmota topic(7)]   // syntax\n    [5,  57,  0, 0, 0, 0, \"0xC7AB\", \"tasmota_96373D\"],    // Lidl Livarno Lux E27 9W CCT Bulb\n    [4,  29, 67, 0, 0, 0, \"0xB275\", \"tasmota_963592\"],    // Remote Maaike\n    [4,  28, 68, 0, 0, 0, \"0x65A9\", \"tasmota_963592\"],    // Remote Aukje\n    [4,  30, 69, 0, 0, 0, \"0x0447\", \"tasmota_963592\"],    // Remote Ouders\n    [3,  44, 70, 0, 0, 0, \"0x7460\", \"tasmota_96373D\"],    // Rookmelder zolder\n    [3,  42, 73, 0, 0, 0, \"0xF5CA\", \"tasmota_963592\"],    // Rookmelder Ouders\n    [3,  41, 71, 0, 0, 0, \"0xB450\", \"tasmota_963592\"],    // Rookmelder Maaike\n    [3,  40, 72, 0, 0, 0, \"0xDBE4\", \"tasmota_963592\"],    // Rookmelder Aukje\n    [7,  58, 0, 82, 0, 0, \"0xC7CB\", \"tasmota_963592\"],    // Remote Kledingkast\n    [8,  59, 0,  0, 0, 0, \"0x3743\", \"tasmota_963592\"],    // Led strip kledingkast\n    [1,  63, 79, 0, 0, 0, \"0x0F9D\", \"tasmota_9467D4\"],    // Garagepoort sensor\n    [3,  43, 74, 0, 0, 0, \"0x004B\", \"tasmota_9467D4\"],    // Rookmelder meterkast\n    [2,  45, 81, 0, 0, 0, \"0xAB75\", \"tasmota_9467D4\"],    // Beweging woonkamer\n    [6,  76, 77, 0, 0, 0, \"0xC582\", \"tasmota_96373D\"],    // CO melder zolder\n    [9,  62, 80, 0, 0, 0, \"0x4C81\", \"tasmota_9467D4\"],    // Temp woonkamer\n    [11, 78, 0,  0, 0, 0, \"0x94C1\", \"tasmota_963592\"],    // Xiaomi GZCGQ01LM lux-sensor\n    //[7,  58, 0, 82, 0, 0, \"0x48B9\", \"tasmota_96373D\"],    // Remote Kledingkast\n];\n\n//1  = Xiaomi Door sensor\n//2  = Xiaomi Motion Sensor\n//3  = Xiaomi Smoke detector\n//4  = Osram mini switch\n//5  = Lidl Livarno Lux E27 9W CCT Bulb\n//6  = Heiman CO detector\n//7  = Ikea E1743 remote\n//8  = Ikea ICPSHC24-30EU-IL-1 LED strip supply\n//9  = Xiaomi WSDCGQ11LM sensor\n//10 = Ikea Powerplug\n//11 = Xiaomi GZCGQ01LM lux-sensor\n//12 = Xiaomi WSDCGQ01LM sensor\n//13 = Xiaomi water sensor\n\nif ( msg.src === 'tasmota' ) {\n    for ( var i = 0; i < idx_zigbee_table.length; i++ ) {\n        var zigbeedevice = idx_zigbee_table[i][0];\n        var idx = idx_zigbee_table[i][1];\n        var idxbat = idx_zigbee_table[i][2];\n\t\tvar idxper = idx_zigbee_table[i][3];\n\t\tvar idxlink = idx_zigbee_table[i][4];\n\t\tvar idxextra = idx_zigbee_table[i][5];\n        var zigbeeid = idx_zigbee_table[i][6];\n        var topicname = idx_zigbee_table[i][7];   \n\n        if ( msg.payload.ZbReceived[zigbeeid] ) {\n            msg.payload.ZbReceived.idx = idx;\n            msg.payload.ZbReceived.idxbat = idxbat;\n\t\t\tmsg.payload.ZbReceived.idxper = idxper;\n\t\t\tmsg.payload.ZbReceived.idxlink = idxlink;\n\t\t\tmsg.payload.ZbReceived.idxextra = idxextra;\n\t\t\tmsg.payload.ZbReceived.zigbeeid = zigbeeid;\n            msg.payload.ZbReceived.topicname = topicname;\n            if ( zigbeedevice === 1 ) {\n                return [null, msg, null, null, null, null, null, null, null, null, null, null, null, null]; \n            } \n            else if ( zigbeedevice === 2 ) {\n                return [null, null, msg, null, null, null, null, null, null, null, null, null, null, null]; \n            }\n            else if ( zigbeedevice === 3 ) {\n                return [null, null, null, msg, null, null, null, null, null, null, null, null, null, null]; \n            }\n            else if ( zigbeedevice === 4 ) {\n                return [null, null, null, null, msg, null, null, null, null, null, null, null, null, null]; \n            }\n            else if ( zigbeedevice === 5 ) {\n                return [null, null, null, null, null, msg, null, null, null, null, null, null, null, null]; \n            }\n            else if ( zigbeedevice === 6 ) {\n                return [null, null, null, null, null, null, msg, null, null, null, null, null, null, null]; \n            }\n            else if ( zigbeedevice === 7 ) {\n                return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null]; \n            }\n            else if ( zigbeedevice === 8 ) {\n                return [null, null, null, null, null, null, null, null, msg, null, null, null, null, null]; \n            }\n            else if ( zigbeedevice === 9 ) {\n                return [null, null, null, null, null, null, null, null, null, msg, null, null, null, null]; \n            }\n            else if ( zigbeedevice === 10 ) {\n                return [null, null, null, null, null, null, null, null, null, null, msg, null, null, null]; \n            }\n            else if ( zigbeedevice === 11 ) {\n                return [null, null, null, null, null, null, null, null, null, null, null, msg, null, null]; \n            }\n            else if ( zigbeedevice === 12 ) {\n                return [null, null, null, null, null, null, null, null, null, null, null, null, msg, null]; \n            }\n            else if ( zigbeedevice === 13 ) {\n                return [null, null, null, null, null, null, null, null, null, null, null, null, null, msg]; \n            }\n        }\n    }\n    var getflow = flow.keys();\n    var getNodeID = (Object.keys(msg.payload.ZbReceived)[0]);\n    for ( var h = 0; h < getflow.length; h++ ) {\n        var zigbeeflowdevice = getflow[h];\n        if (zigbeeflowdevice === getNodeID){\n          flow.set(getNodeID, undefined);\n        }\n        \n    }\n    return [msg, null, null, null, null, null, null, null, null, null, null, null, null];\n}\n\nif ( msg.src === 'tasmotainfo' ) {\n    for ( var k = 0; k < idx_zigbee_table.length; k++ ) {\n        var zigbeedeviceinfo = idx_zigbee_table[k][0];\n        var idxinfo = idx_zigbee_table[k][1];\n        var idxbatinfo = idx_zigbee_table[k][2];\n\t\tvar idxperinfo = idx_zigbee_table[k][3];\n\t\tvar idxlinkinfo = idx_zigbee_table[k][4];\n\t\tvar idxextrainfo = idx_zigbee_table[k][5];\n        var zigbeeidinfo = idx_zigbee_table[k][6];\n        var topicnameinfo = idx_zigbee_table[k][7];   \n\n        if ( msg.payload.ZbInfo[zigbeeidinfo] ) {\n            msg.payload.ZbInfo.idx = idxinfo;\n            msg.payload.ZbInfo.idxbat = idxbatinfo;\n\t\t\tmsg.payload.ZbInfo.idxper = idxperinfo;\n\t\t\tmsg.payload.ZbInfo.idxlink = idxlinkinfo;\n\t\t\tmsg.payload.ZbInfo.idxextra = idxextrainfo;\n\t\t\tmsg.payload.ZbInfo.zigbeeid = zigbeeidinfo;\n            msg.payload.ZbInfo.topicname = topicnameinfo;\n            if ( zigbeedeviceinfo === 7 ) {\n                return [null, null, null, null, null, null, null, msg, null, null, null, null, null, null]; \n            }\n        }\n    }\n    return [msg, null, null, null, null, null, null, null, null, null, null, null, null];\n}\n\nif ( msg.src === 'domoticz' ) {\n    for ( var j = 0; j < idx_zigbee_table.length; j++ ) {\n        var zigbeedevicedz = idx_zigbee_table[j][0];\n        var idxdz = idx_zigbee_table[j][1];\n        var idxbatdz = idx_zigbee_table[j][2];\n        var zigbeeiddz = idx_zigbee_table[j][6];\n        var topicnamedz = idx_zigbee_table[j][7];   \n   \n        if ( idxdz === msg.payload.idx ) {\n            msg.payload.idxdz = idxdz;\n            msg.payload.idxbat = idxbatdz;\n            msg.payload.zigbeeid = zigbeeiddz;\n            msg.payload.topicname = topicnamedz;\n            if ( zigbeedevicedz === 5 ) {    \n                return [null, null, null, null, null, msg, null, null, null, null, null, null, null, null]; \n            }\n            else if ( zigbeedevicedz === 8 ) {\n                return [null, null, null, null, null, null, null, null, msg, null, null, null, null, null]; \n            }\n            else if ( zigbeedevicedz === 10 ) {\n                return [null, null, null, null, null, null, null, null, null, null, msg, null, null, null]; \n            }\n        }\n    }\n    return [msg, null, null, null, null, null, null, null, null, null, null, null, null, null]; \n}",
        "outputs": 14,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 520,
        "wires": [
            [
                "5754549a4a868ca2"
            ],
            [
                "4b827c89b5a138c4"
            ],
            [
                "9ef3e2703e3d169b"
            ],
            [
                "0958e7f86a6f7cfa"
            ],
            [
                "fe7e9b046fafa46d"
            ],
            [
                "a43480d97601b0b3"
            ],
            [
                "2ccae554b0a0eb62"
            ],
            [
                "f053a430dbc7af77"
            ],
            [
                "cc69481ddb4239d7"
            ],
            [
                "b3b7f479cadb8496"
            ],
            [
                "0c713a7cfa8a5968"
            ],
            [
                "577af1c346273217"
            ],
            [
                "1a8398e557c7f9dd"
            ],
            [
                "c9e73ce19c15f214"
            ]
        ]
    },
    {
        "id": "ad164d166565ab20",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "name": " Xiaomi door senor",
        "func": "msg.topic = \"domoticz/in\";\nvar idx = msg.payload.ZbReceived.idx;\nvar idxbat = msg.payload.ZbReceived.idxbat;\nvar idxper = msg.payload.ZbReceived.idxper;\nvar idxlink = msg.payload.ZbReceived.idxlink;\nvar zigbeeid = msg.payload.ZbReceived.zigbeeid;\n\nvar batmsg;\nvar permsg;\nvar linkmsg;\nvar valuebat;\nvar valuebatdummy;\nvar valuebatperc;\nvar valuelink;\n\nif ( msg.payload.ZbReceived[zigbeeid] ) {    \n    //Set value battery voltage idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"BatteryVoltage\")) {\n        valuebatdummy = msg.payload.ZbReceived[zigbeeid].BatteryVoltage;\n        valuebat = (Math.round(valuebatdummy * 10))/10.0;\n    }\n    //Set value battery percentage idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"BatteryPercentage\")) {\n        valuebatperc = msg.payload.ZbReceived[zigbeeid].BatteryPercentage;\n    }\n    //Set value linkQuality idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"LinkQuality\")) {\n        valuelink = msg.payload.ZbReceived[zigbeeid].LinkQuality;\n    }\n\n\tvar updmsg0 = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idx , \"nvalue\": 0, \"svalue\": \"0\" , \"parse\": false}}; \n    var updmsg1 = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idx , \"nvalue\": 1, \"svalue\": \"0\" , \"parse\": false}}; \n    \n\tif (context.get(zigbeeid) === undefined) {\n        context.set(zigbeeid, 3);\n    }\n    \n\tif (msg.payload.ZbReceived[zigbeeid].Contact === 1) {\n        if (context.get(zigbeeid) === 0 || context.get(zigbeeid) === 3) {\n            context.set(zigbeeid, 1);      \n            msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"On\" };\n        } \n\t    else if (context.get(zigbeeid) === 1) {  \n            msg = updmsg1; \n        }\n    }\n\telse if (msg.payload.ZbReceived[zigbeeid].Contact === 0) {\n        if (context.get(zigbeeid) === 1 || context.get(zigbeeid) === 3) {\n            context.set(zigbeeid, 0);   \n            msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Off\" };\n        } \n        else if (context.get(zigbeeid) === 0) {  \n            msg = updmsg0; \n        }\n    }\n\telse {\n\t    msg = null; \n\t}\n\t\n\tif ( idxbat !== 0 ) {\n        if (valuebat !== undefined) {\n            batmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxbat , \"svalue\": \"\" + valuebat + \"\", \"parse\": false}}; \n        } else {\n            batmsg = null;\n        }\n\t} else {\n\t    batmsg = null;\n    }\n    if ( idxper !== 0 ) {\n        if (valuebatperc !== undefined) {\n            permsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxper , \"svalue\": \"\" + valuebatperc + \"\", \"parse\": false}}; \n        } else {\n            permsg = null;\n        }\n    } else {\n        permsg = null;\n    }\n    if ( idxlink !== 0 ) {\n        if (valuelink !== undefined) {\n            linkmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxlink , \"svalue\": \"\" + valuelink + \"\", \"parse\": false}}; \n        } else {\n            linkmsg = null;\n        }\n    } else {\n        linkmsg = null;\n    }\n    return [msg, batmsg, permsg, linkmsg];\n}",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2190,
        "y": 160,
        "wires": [
            [
                "996c20a7f43bb922"
            ],
            [
                "996c20a7f43bb922"
            ],
            [
                "996c20a7f43bb922"
            ],
            [
                "996c20a7f43bb922"
            ]
        ]
    },
    {
        "id": "902db89cf58e7d4a",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi door sensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2730,
        "y": 160,
        "wires": []
    },
    {
        "id": "93278f76c19d10e5",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi motion sensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2740,
        "y": 240,
        "wires": []
    },
    {
        "id": "283b251afd36b91e",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "name": " Xiaomi smoke detector",
        "func": "msg.topic = \"domoticz/in\";\nvar idx = msg.payload.ZbReceived.idx;\nvar idxbat = msg.payload.ZbReceived.idxbat;\nvar idxper = msg.payload.ZbReceived.idxper;\nvar idxlink = msg.payload.ZbReceived.idxlink;\nvar zigbeeid = msg.payload.ZbReceived.zigbeeid;\n\nvar batmsg;\nvar permsg;\nvar linkmsg;\nvar valuebat;\nvar valuebatdummy;\nvar valuebatperc;\nvar valuelink;\n\nif ( msg.payload.ZbReceived[zigbeeid] ) {    \n    //Set value battery voltage idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"BatteryVoltage\")) {\n        valuebatdummy = msg.payload.ZbReceived[zigbeeid].BatteryVoltage;\n        valuebat = (Math.round(valuebatdummy * 10))/10.0;\n    }\n    //Set value battery percentage idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"BatteryPercentage\")) {\n        valuebatperc = msg.payload.ZbReceived[zigbeeid].BatteryPercentage;\n    }\n    //Set value linkQuality idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"LinkQuality\")) {\n        valuelink = msg.payload.ZbReceived[zigbeeid].LinkQuality;\n    }\n\n\tvar updmsg0 = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idx , \"nvalue\": 0, \"svalue\": \"0\" , \"parse\": false}}; \n    var updmsg1 = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idx , \"nvalue\": 1, \"svalue\": \"0\" , \"parse\": false}}; \n    \n\tif (context.get(zigbeeid) === undefined) {\n        context.set(zigbeeid, 3);\n    }\n    \n\tif (msg.payload.ZbReceived[zigbeeid].Fire === 1) {\n        if (context.get(zigbeeid) === 0 || context.get(zigbeeid) === 3) {\n            context.set(zigbeeid, 1);      \n            msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"On\" };\n        } \n\t    else if (context.get(zigbeeid) === 1) {  \n            msg = updmsg1; \n        }\n    }\n\telse if (msg.payload.ZbReceived[zigbeeid].Fire === 0) {\n        if (context.get(zigbeeid) === 1 || context.get(zigbeeid) === 3) {\n            context.set(zigbeeid, 0);   \n            msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Off\" };\n        } \n        else if (context.get(zigbeeid) === 0) {  \n            msg = updmsg0; \n        }\n    }\n    else {\n\t    msg = updmsg0; \n\t}\n\t\n\tif ( idxbat !== 0 ) {\n        if (valuebat !== undefined) {\n            batmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxbat , \"svalue\": \"\" + valuebat + \"\", \"parse\": false}}; \n        } else {\n            batmsg = null;\n        }\n\t} else {\n\t    batmsg = null;\n    }\n    if ( idxper !== 0 ) {\n        if (valuebatperc !== undefined) {\n            permsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxper , \"svalue\": \"\" + valuebatperc + \"\", \"parse\": false}}; \n        } else {\n            permsg = null;\n        }\n    } else { \n        permsg = null;\n    }\n    if ( idxlink !== 0 ) {\n        if (valuelink !== undefined) {\n            linkmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxlink , \"svalue\": \"\" + valuelink + \"\", \"parse\": false}}; \n        } else {\n            linkmsg = null;\n        }\n    } else {\n        linkmsg = null;\n    }\n    return [msg, batmsg, permsg, linkmsg];\n}",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2200,
        "y": 320,
        "wires": [
            [
                "1f300e21c525ad4d"
            ],
            [
                "1f300e21c525ad4d"
            ],
            [
                "1f300e21c525ad4d"
            ],
            [
                "1f300e21c525ad4d"
            ]
        ]
    },
    {
        "id": "943f1135c3828226",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi smoke detector",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2740,
        "y": 320,
        "wires": []
    },
    {
        "id": "b96a18aebbaf647b",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Osram mini switch",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2730,
        "y": 400,
        "wires": []
    },
    {
        "id": "74078727af5ee2e0",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "name": "Lidl Livarno CCT Bulb",
        "func": "if ( msg.src === 'tasmota' ) {\n    msg.topic = \"domoticz/in\";\n    var idx = msg.payload.ZbReceived.idx;\n    var idxlink = msg.payload.ZbReceived.idxlink;\n    var zigbeeid = msg.payload.ZbReceived.zigbeeid;\n\n    var linkmsg;\n    var valuelink;\n\n    if ( msg.payload.ZbReceived[zigbeeid] ) {    \n        //Set value linkQuality idx\n        if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"LinkQuality\")) {\n            valuelink = msg.payload.ZbReceived[zigbeeid].LinkQuality;\n        }\n       \n    \tif ( msg.payload.ZbReceived[zigbeeid] ) {    \n            if (msg.payload.ZbReceived[zigbeeid].Power === 1) {\n                msg.payload = {\"command\": \"udevice\" , \"idx\": idx , \"nvalue\": 1, \"svalue\": \"0\" , \"parse\": false};\n            }\n            else if (msg.payload.ZbReceived[zigbeeid].Power === 0) { \n                msg.payload = {\"command\": \"udevice\" , \"idx\": idx , \"nvalue\": 0, \"svalue\": \"0\" , \"parse\": false};\n            }\n\t\t    else {\n    \t\t    msg = null;\n            }\n\t    }\n        if ( idxlink !== 0 ) {\n            if (valuelink !== undefined) {\n                linkmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxlink , \"svalue\": \"\" + valuelink + \"\", \"parse\": false}}; \n            } else {\n                linkmsg = null;\n            }\n        } else {\n            linkmsg = null;\n        }\n        return [msg, linkmsg];\t\n    }\n}\n\nif ( msg.src === 'domoticz' ) {\n    var ZigbeeID = msg.payload.zigbeeid\n    var topicname = msg.payload.topicname;\n\tvar level = (msg.payload.Level * 2.54);\n\tvar color;\n\t\t\n    if (msg.payload.Color.t === null) {\n        color = (153);    \n    } \n    else {\n        color = ((msg.payload.Color.t * 1.37) + 153);\n    }\n    if ( msg.payload.nvalue === 1) {\n        msg = { \"topic\": \"cmnd/\" + topicname + \"/ZbSend\",\"payload\":{\"Device\":ZigbeeID,\"Send\":{\"Power\":1}}};\n\t\treturn [msg, null];\n    } else if ( msg.payload.nvalue === 0) {\n        msg = { \"topic\": \"cmnd/\" + topicname + \"/ZbSend\",\"payload\":{\"Device\":ZigbeeID,\"Send\":{\"Power\":0}}};\n        return [msg, null];\n    }\n    else {\n        var msgcol = { \"topic\": \"cmnd/\" + topicname + \"/ZbSend\",\"payload\":{\"Device\":ZigbeeID,\"Send\":{\"CT\":color}}};\n        var msglev = { \"topic\": \"cmnd/\" + topicname + \"/ZbSend\",\"payload\":{\"Device\":ZigbeeID,\"Send\":{\"Dimmer\":level}}};\n        return [msgcol, msglev];\n    }\n    return [null, null];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2200,
        "y": 460,
        "wires": [
            [
                "38b2d29beeb9a423"
            ],
            [
                "38b2d29beeb9a423"
            ]
        ]
    },
    {
        "id": "29f4524a41c3bbe4",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Lidl Livarno CCT Bulb",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2740,
        "y": 460,
        "wires": []
    },
    {
        "id": "a7f14c9f10b3d453",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "name": "Heiman CO detector",
        "func": "msg.topic = \"domoticz/in\";\nvar idx = msg.payload.ZbReceived.idx;\nvar idxbat = msg.payload.ZbReceived.idxbat;\nvar idxper = msg.payload.ZbReceived.idxper;\nvar idxlink = msg.payload.ZbReceived.idxlink;\nvar zigbeeid = msg.payload.ZbReceived.zigbeeid;\n\nvar batmsg;\nvar permsg;\nvar linkmsg;\nvar valuebat;\nvar valuebatdummy;\nvar valuebatperc;\nvar valuelink;\n\nif ( msg.payload.ZbReceived[zigbeeid] ) {    \n    //Set value battery voltage idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"BatteryVoltage\")) {\n        valuebatdummy = msg.payload.ZbReceived[zigbeeid].BatteryVoltage;\n        valuebat = (Math.round(valuebatdummy * 10))/10.0;\n    }\n    //Set value battery percentage idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"BatteryPercentage\")) {\n        valuebatperc = msg.payload.ZbReceived[zigbeeid].BatteryPercentage;\n    }\n    //Set value linkQuality idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"LinkQuality\")) {\n        valuelink = msg.payload.ZbReceived[zigbeeid].LinkQuality;\n    }\n\n\tvar updmsg0 = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idx , \"nvalue\": 0, \"svalue\": \"0\" , \"parse\": false}}; \n    var updmsg1 = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idx , \"nvalue\": 1, \"svalue\": \"0\" , \"parse\": false}}; \n    \n\tif (context.get(zigbeeid) === undefined) {\n        context.set(zigbeeid, 3);\n    }\n    \n\tif (msg.payload.ZbReceived[zigbeeid].CO === 1) {\n        if (context.get(zigbeeid) === 0 || context.get(zigbeeid) === 3) {\n            context.set(zigbeeid, 1);      \n            msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"On\" };\n        } \n\t    else if (context.get(zigbeeid) === 1) {  \n            msg = updmsg1; \n        }\n    }\n\telse if (msg.payload.ZbReceived[zigbeeid].CO === 0) {\n        if (context.get(zigbeeid) === 1 || context.get(zigbeeid) === 3) {\n            context.set(zigbeeid, 0);   \n            msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Off\" };\n        } \n        else if (context.get(zigbeeid) === 0) {  \n            msg = updmsg0; \n        }\n    }\n\telse {\n\t    msg = null; \n\t}\n\t\n\tif ( idxbat !== 0 ) {\n        if (valuebat !== undefined) {\n            batmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxbat , \"svalue\": \"\" + valuebat + \"\", \"parse\": false}}; \n        } else {\n            batmsg = null;\n        }\n\t} else {\n\t    batmsg = null;\n    }\n    if ( idxper !== 0 ) {\n        if (valuebatperc !== undefined) {\n            permsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxper , \"svalue\": \"\" + valuebatperc + \"\", \"parse\": false}}; \n        } else {\n            permsg = null;\n        }\n    } else {\n        permsg = null;\n    }\n    if ( idxlink !== 0 ) {\n        if (valuelink !== undefined) {\n            linkmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxlink , \"svalue\": \"\" + valuelink + \"\", \"parse\": false}}; \n        } else {\n            linkmsg = null;\n        }\n    } else {\n        linkmsg = null;\n    }\n    return [msg, batmsg, permsg, linkmsg];\n}",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2200,
        "y": 520,
        "wires": [
            [
                "b58fbdd1751a2cd8"
            ],
            [
                "b58fbdd1751a2cd8"
            ],
            [
                "b58fbdd1751a2cd8"
            ],
            [
                "b58fbdd1751a2cd8"
            ]
        ]
    },
    {
        "id": "d6291551d1852638",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Heiman CO detector",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2740,
        "y": 520,
        "wires": []
    },
    {
        "id": "e3c55ccb8b099b3c",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "name": "Ikea E1743 remote",
        "func": "if ( msg.src === 'tasmota' ) {\n    msg.topic = \"domoticz/in\";\n    var idx = msg.payload.ZbReceived.idx;\n    var idxper = msg.payload.ZbReceived.idxper;\n    var idxlink = msg.payload.ZbReceived.idxlink;\n    var zigbeeid = msg.payload.ZbReceived.zigbeeid;\n    var topicname = msg.payload.ZbReceived.topicname;\n\n    var level;\n    var percmsg;\n    var linkmsg;\n    var askbat;\n    var valuebatperc;\n    var valuelink;\n\n    function askbatidxlink() {\n        var array = [];\n        array[0] = idx;\n        array[1] = level;\n        array[2] = topicname;\n        flow.set(zigbeeid, array);\n        //askbat = { \"topic\": \"cmnd/\" + topicname + \"/ZbSend\",\"payload\":{\"Device\": zigbeeid,\"Read\":{\"BatteryPercentage\":true}}};\n        askbat = null;\n        if ( idxlink !== 0 ) {\n            if (valuelink !== undefined) {\n                linkmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxlink , \"svalue\": \"\" + valuelink + \"\", \"parse\": false}}; \n            } else {\n                linkmsg = null;\n            }\n        } else {\n            linkmsg = null;\n        }\n    }\n    \n    if ( msg.payload.ZbReceived[zigbeeid] ) {    \n        if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"BatteryPercentage\")) {\n            valuebatperc = msg.payload.ZbReceived[zigbeeid].BatteryPercentage;\n        }\n        if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"LinkQuality\")) {\n            valuelink = msg.payload.ZbReceived[zigbeeid].LinkQuality;\n        }\n            \n        if (msg.payload.ZbReceived[zigbeeid].Power === 0) {\n            msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Set Level\", \"level\":\"0\"};\n            level = \"0\";\n            askbatidxlink();\n        }\n        else if (msg.payload.ZbReceived[zigbeeid].Power === 1) {\n            msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Set Level\", \"level\":\"10\"};\n            level = \"10\";\n            askbatidxlink();    \n        } \n        else if (msg.payload.ZbReceived[zigbeeid].DimmerMove === 0) {\n            msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Set Level\", \"level\":\"20\"};\n            level = \"20\";\n            askbatidxlink();    \n        }\n        else if (msg.payload.ZbReceived[zigbeeid].DimmerMove === 1) {\n            msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Set Level\", \"level\":\"30\"};\n            level = \"30\";\n            askbatidxlink();    \n        }\n        else if (msg.payload.ZbReceived[zigbeeid].DimmerStop === true) {\n            msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Set Level\", \"level\":\"40\"};\n            level = \"40\";\n            askbatidxlink();   \n        } \n        else {\n         \tmsg = null;\n        }\n    \n        if ( idxper !== 0 ) {\n            if (valuebatperc !== undefined) {\n                percmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxper , \"svalue\": \"\" + valuebatperc + \"\", \"parse\": false}}; \n                msg = null;\n                askbat = null;\n                linkmsg = null;\n            } else {\n                percmsg = null;\n            }\n        } else {\n            percmsg = null;\n        }\n        return [msg, percmsg, linkmsg, askbat];\n    }\n}\n\nif ( msg.src === 'tasmotainfo' ) {\n    msg.topic = \"domoticz/in\";\n    var idxperinfo = msg.payload.ZbInfo.idxper;\n    var idxlinkinfo = msg.payload.ZbInfo.idxlink;\n    var zigbeeidinfo = msg.payload.ZbInfo.zigbeeid;\n    \n    var percmsginfo;\n    var linkmsginfo;\n    var valuebatpercinfo;\n    var valuelinkinfo;\n    \n    if ( msg.payload.ZbInfo[zigbeeidinfo] ) {\n        if (msg.payload.ZbInfo[zigbeeidinfo].hasOwnProperty(\"BatteryPercentage\")) {\n            valuebatpercinfo = msg.payload.ZbInfo[zigbeeidinfo].BatteryPercentage;\n        }\n        if (msg.payload.ZbInfo[zigbeeidinfo].hasOwnProperty(\"LinkQuality\")) {\n            valuelinkinfo = msg.payload.ZbInfo[zigbeeidinfo].LinkQuality;\n        }\n        \n        if ( idxperinfo !== 0 ) {\n            if (valuebatpercinfo !== undefined) {\n                percmsginfo = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxperinfo , \"svalue\": \"\" + valuebatpercinfo + \"\", \"parse\": false}}; \n            } else {\n                percmsginfo = null;\n            }\n        } else {\n            percmsginfo = null;\n        }\n        if ( idxlinkinfo !== 0 ) {\n            if (valuelinkinfo !== undefined) {\n                linkmsginfo = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxlinkinfo , \"svalue\": \"\" + valuelinkinfo + \"\", \"parse\": false}}; \n            } else {\n                linkmsginfo = null;\n            }\n        } else {\n            linkmsginfo = null;\n        }\n        return [null, percmsginfo, linkmsginfo, null];\n    }\n}",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2190,
        "y": 600,
        "wires": [
            [
                "34ebad78371bfc78"
            ],
            [
                "34ebad78371bfc78"
            ],
            [
                "34ebad78371bfc78"
            ],
            [
                "fd871c5a92505ca3"
            ]
        ]
    },
    {
        "id": "54dd8d6bf95fde5b",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Ikea E1743 remote",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2730,
        "y": 600,
        "wires": []
    },
    {
        "id": "42ee16d8e12d67f4",
        "type": "switch",
        "z": "32e6b1c785b786d2",
        "name": "IDX check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "idx",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 540,
        "wires": [
            [
                "bf65146bd8d167aa"
            ],
            [
                "ae0c40229b700502"
            ]
        ]
    },
    {
        "id": "ae0c40229b700502",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "no IDX availble",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 560,
        "wires": []
    },
    {
        "id": "0adbc247aab5c6ef",
        "type": "comment",
        "z": "32e6b1c785b786d2",
        "name": "",
        "info": "loop prevent idee\n\nneem idx, als idx hetzelde is, dan stop\n\n\nconst dimmerList = [\"dimmer1\",\"dimmer2\",\"dimmer3\",\"dimmer4\"];\nlet receiving = context.get(\"receiving\") || false;\nlet source = context.get(\"source\");\nfunction propagate (value, items, noSend) {\n    items.forEach(item => {\n        if (item !== noSend) {\n            node.send({payload:value, topic:`cmnd/lighting/${item}/dimmer`});\n        }\n    });\n}\nif (!receiving) {\n    context.set(\"receiving\", true);\n    const splitTopic = msg.topic.split(\"/\");\n    context.set(\"source\", splitTopic[2]);\n    const propTimeout = setTimeout(()=>{\n        context.set(\"receiving\",false);\n    },500);\n    context.set(\"propTimeout\", propTimeout);\n    propagate(msg.payload, dimmerList, splitTopic[2]);\n} else if (msg.topic === source) {\n    let propTimeout = context.get(\"propTimeout\");\n    clearTimeout(propTimeout);\n    propTimeout = setTimeout(()=>{\n        context.set(\"receiving\",false);\n    },500);\n    context.set(\"propTimeout\", propTimeout);\n    propagate(msg.payload, dimmerList, source);\n}\nreturn null;",
        "x": 300,
        "y": 400,
        "wires": []
    },
    {
        "id": "1805c2bdbbc563df",
        "type": "gate",
        "z": "32e6b1c785b786d2",
        "name": "Gate",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "persist": false,
        "x": 1470,
        "y": 500,
        "wires": [
            [
                "269bdd93eaa30e8b",
                "d3750fa1f4bdc266"
            ]
        ]
    },
    {
        "id": "3b9a33f80d8918c6",
        "type": "change",
        "z": "32e6b1c785b786d2",
        "name": "Set Control",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "close",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 380,
        "wires": [
            [
                "6f07890f180e41d6"
            ]
        ]
    },
    {
        "id": "6f07890f180e41d6",
        "type": "trigger",
        "z": "32e6b1c785b786d2",
        "name": "",
        "op1": "",
        "op2": "open",
        "op1type": "pay",
        "op2type": "str",
        "duration": "3000",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1240,
        "y": 380,
        "wires": [
            [
                "1805c2bdbbc563df"
            ]
        ]
    },
    {
        "id": "1d935a19c2d48baa",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Block-gate-in",
        "links": [
            "0ded517531ee02b6",
            "38b2d29beeb9a423",
            "b0b36a57add1ac04",
            "5b1817084e40c724"
        ],
        "x": 895,
        "y": 380,
        "wires": [
            [
                "3b9a33f80d8918c6"
            ]
        ]
    },
    {
        "id": "d3750fa1f4bdc266",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Gate block",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1710,
        "y": 380,
        "wires": []
    },
    {
        "id": "e3ecd92d6e4b4333",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "name": "Osram mini switch",
        "func": "msg.topic = \"domoticz/in\";\nvar idx = msg.payload.ZbReceived.idx;\nvar idxbat = msg.payload.ZbReceived.idxbat;\nvar idxper = msg.payload.ZbReceived.idxper;\nvar idxlink = msg.payload.ZbReceived.idxlink;\nvar zigbeeid = msg.payload.ZbReceived.zigbeeid;\n\nvar batmsg;\nvar permsg;\nvar linkmsg;\nvar valuebat;\nvar valuebatdummy;\nvar valuebatperc;\nvar valuelink;\n\nif ( msg.payload.ZbReceived[zigbeeid] ) {    \n    //Set value batterij voltage idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"BatteryVoltage\")) {\n        valuebatdummy = msg.payload.ZbReceived[zigbeeid].BatteryVoltage;\n        valuebat = (Math.round(valuebatdummy * 10))/10.0;\n    }\n    //Set value batterij percentage idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"BatteryPercentage\")) {\n        valuebatperc = msg.payload.ZbReceived[zigbeeid].BatteryPercentage;\n    }\n    //Set value linkQuality idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"LinkQuality\")) {\n        valuelink = msg.payload.ZbReceived[zigbeeid].LinkQuality;\n    }\n\t\n\t//Up\n    if (msg.payload.ZbReceived[zigbeeid][\"0006!01\"] === \"\" && msg.payload.ZbReceived[zigbeeid].Endpoint === 1 && msg.payload.ZbReceived[zigbeeid].Power === 1) {\n        msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Set Level\", \"level\":\"10\"};\n    }\n    //Up hold\n    else if (msg.payload.ZbReceived[zigbeeid][\"0008!05\"] === \"0026\" && msg.payload.ZbReceived[zigbeeid].DimmerMove === 0 && msg.payload.ZbReceived[zigbeeid].Endpoint === 1) {\n        msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Set Level\", \"level\":\"20\"};\n    }\n    //Up release\n    else if (msg.payload.ZbReceived[zigbeeid][\"0008!03\"] === \"\" && msg.payload.ZbReceived[zigbeeid].DimmerStop === true && msg.payload.ZbReceived[zigbeeid].Endpoint === 1) {\n        msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Set Level\", \"level\":\"30\"};\n    }\n    //Circle\n    else if (msg.payload.ZbReceived[zigbeeid][\"0008!04\"] === \"FE0A00\" && msg.payload.ZbReceived[zigbeeid].Endpoint === 3) {\n        msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Set Level\", \"level\":\"40\"};\n    }\n    //Circle hold\n    else if (msg.payload.ZbReceived[zigbeeid][\"0300!01\"] === \"0119\" && msg.payload.ZbReceived[zigbeeid].HueMove === 1 && msg.payload.ZbReceived[zigbeeid].Endpoint === 3) {\n        msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Set Level\", \"level\":\"50\"};\n    }\n    //Circle release\n    else if (msg.payload.ZbReceived[zigbeeid][\"0300!01\"] === \"0000\" && msg.payload.ZbReceived[zigbeeid].HueMove === 0 && msg.payload.ZbReceived[zigbeeid].Endpoint === 3) {\n        msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Set Level\", \"level\":\"60\"};\n    }\n    //Down\n    else if (msg.payload.ZbReceived[zigbeeid][\"0006!00\"] === \"\" && msg.payload.ZbReceived[zigbeeid].Endpoint === 2 && msg.payload.ZbReceived[zigbeeid].Power === 0) {\n        msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Set Level\", \"level\":\"70\"};\n    }\n    //Down hold\n    else if (msg.payload.ZbReceived[zigbeeid][\"0008!01\"] === \"0126\" && msg.payload.ZbReceived[zigbeeid].DimmerMove === 1 && msg.payload.ZbReceived[zigbeeid].Endpoint === 2) {\n        msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Set Level\", \"level\":\"80\"};\n    }\n    //Down release\n    else if (msg.payload.ZbReceived[zigbeeid][\"0008!03\"] === \"\" && msg.payload.ZbReceived[zigbeeid].DimmerStop === true && msg.payload.ZbReceived[zigbeeid].Endpoint === 2) {\n        msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Set Level\", \"level\":\"90\"};\n    } \n    else {\n        msg = null;\n    }\n\tif ( idxbat !== 0 ) {\n        if (valuebat !== undefined) {\n            batmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxbat , \"svalue\": \"\" + valuebat + \"\", \"parse\": false}}; \n        } else {\n            batmsg = null;\n        }\n\t} else {\n\t    batmsg = null;\n    }\n    if ( idxper !== 0 ) {\n        if (valuebatperc !== undefined) {\n            permsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxper , \"svalue\": \"\" + valuebatperc + \"\", \"parse\": false}}; \n        } else {\n            permsg = null;\n        }\n    } else {\n        permsg = null;\n    }\n    if ( idxlink !== 0 ) {\n        if (valuelink !== undefined) {\n            linkmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxlink , \"svalue\": \"\" + valuelink + \"\", \"parse\": false}}; \n        } else {\n            linkmsg = null;\n        }\n    } else {\n        linkmsg = null;\n    }\n    return [msg, batmsg, permsg, linkmsg];\n}",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2190,
        "y": 400,
        "wires": [
            [
                "4651c83ecce552f8"
            ],
            [
                "4651c83ecce552f8"
            ],
            [
                "4651c83ecce552f8"
            ],
            [
                "4651c83ecce552f8"
            ]
        ]
    },
    {
        "id": "c279eb08d2518c16",
        "type": "flogger",
        "z": "32e6b1c785b786d2",
        "name": "",
        "logfile": "zigbeelog.txt",
        "inputchoice": "fullmsg",
        "inputobject": "payload",
        "inputobjectType": "msg",
        "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
        "loglevel": "INFO",
        "logconfig": "f6ad6c620c7a1df8",
        "sendpane": "",
        "x": 2690,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "f73a6f39342779fd",
        "type": "comment",
        "z": "32e6b1c785b786d2",
        "name": "Ikea E1743",
        "info": "Which domoticz dummy needed:\n- Selector switch (keuzeschakelaar)\n\nWhich domoticz dummy for battery:\n- Percentage dummy (device CAN'T do voltage)\n\n\nSelector switch setup:\n0  = Off\n10 = On\n20 = On: hold\n30 = Off: hold\n40 = Hold: stop\n\nCode send by device:\n*** Knop streepje kort ***\nDevice: \"0x5D14\"\nName: \"Remote_kledingkast\"\n0006!01: \"\"\nPower: 1\nEndpoint: 1\nLinkQuality: 157\n\n*** Knop rondje kort ***\nDevice: \"0x5D14\"\nName: \"Remote_kledingkast\"\n0006!00: \"\"\nPower: 0\nEndpoint: 1\nLinkQuality: 157\n\n*** Knop streepje lang ***\nDevice: \"0x5D14\"\nName: \"Remote_kledingkast\"\n0008!05: \"0053\"\nDimmerMove: 0\nEndpoint: 1\nLinkQuality: 157\n\n*** Knop streepje lang release ***\nDevice: \"0x5D14\"\nName: \"Remote_kledingkast\n0008!07: \"\"\nDimmerStop: true\nEndpoint: 1\nLinkQuality: 157\n\n*** Knop rondje lang ***\nDevice: \"0x5D14\"\nName: \"Remote_kledingkast\"\n0008!01: \"01530000\"\nDimmermove: 1\nEndpoint: 1\nLinkQuality: 157\n\n*** Knop rondje lang release ***\nDevice: \"0x5D14\"\nName: \"Remote_kledingkast\"\n0008!07: \"\"\nDimmerStop: true\nEndpoint: 1\nLinkQuality: 157\n\n",
        "x": 3030,
        "y": 600,
        "wires": []
    },
    {
        "id": "40855101e292585d",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Ikea ICPSHC24 led strip",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2750,
        "y": 660,
        "wires": []
    },
    {
        "id": "996c20a7f43bb922",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi doorsensor out",
        "mode": "link",
        "links": [
            "e4ed3f9404692874",
            "eb12fa8049a9c2f5"
        ],
        "x": 2515,
        "y": 160,
        "wires": []
    },
    {
        "id": "eb12fa8049a9c2f5",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi doorsensor in",
        "links": [
            "4b827c89b5a138c4",
            "996c20a7f43bb922"
        ],
        "x": 2575,
        "y": 160,
        "wires": [
            [
                "902db89cf58e7d4a"
            ]
        ]
    },
    {
        "id": "7c39b8f4766d8af2",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi motion sensor out",
        "mode": "link",
        "links": [
            "d37266ca5003002f",
            "e4ed3f9404692874"
        ],
        "x": 2515,
        "y": 240,
        "wires": []
    },
    {
        "id": "d37266ca5003002f",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi motion sensor in",
        "links": [
            "7c39b8f4766d8af2",
            "9ef3e2703e3d169b"
        ],
        "x": 2575,
        "y": 240,
        "wires": [
            [
                "93278f76c19d10e5"
            ]
        ]
    },
    {
        "id": "81b0bc5b842b0fd9",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi smoke detector in",
        "links": [
            "1f300e21c525ad4d",
            "0958e7f86a6f7cfa"
        ],
        "x": 2575,
        "y": 320,
        "wires": [
            [
                "943f1135c3828226"
            ]
        ]
    },
    {
        "id": "1f300e21c525ad4d",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi smoke detector out",
        "mode": "link",
        "links": [
            "81b0bc5b842b0fd9",
            "e4ed3f9404692874"
        ],
        "x": 2515,
        "y": 320,
        "wires": []
    },
    {
        "id": "b5be4ef2c3766c16",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Osram mini switch in",
        "links": [
            "4651c83ecce552f8",
            "fe7e9b046fafa46d"
        ],
        "x": 2575,
        "y": 400,
        "wires": [
            [
                "b96a18aebbaf647b"
            ]
        ]
    },
    {
        "id": "4651c83ecce552f8",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Osram mini switch out",
        "mode": "link",
        "links": [
            "b5be4ef2c3766c16",
            "e4ed3f9404692874"
        ],
        "x": 2515,
        "y": 400,
        "wires": []
    },
    {
        "id": "7f8f8c048a5a9e50",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Lidl Livarno CCT in",
        "links": [
            "38b2d29beeb9a423",
            "a43480d97601b0b3"
        ],
        "x": 2575,
        "y": 460,
        "wires": [
            [
                "29f4524a41c3bbe4"
            ]
        ]
    },
    {
        "id": "38b2d29beeb9a423",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Lidl Livarno CCT out",
        "mode": "link",
        "links": [
            "1d935a19c2d48baa",
            "7f8f8c048a5a9e50",
            "e4ed3f9404692874"
        ],
        "x": 2515,
        "y": 460,
        "wires": []
    },
    {
        "id": "6bf493cc359ec5a6",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Heiman CO in",
        "links": [
            "b58fbdd1751a2cd8",
            "2ccae554b0a0eb62"
        ],
        "x": 2575,
        "y": 520,
        "wires": [
            [
                "d6291551d1852638"
            ]
        ]
    },
    {
        "id": "b58fbdd1751a2cd8",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Heiman CO out",
        "mode": "link",
        "links": [
            "6bf493cc359ec5a6",
            "e4ed3f9404692874"
        ],
        "x": 2515,
        "y": 520,
        "wires": []
    },
    {
        "id": "0140bb4b0c66e251",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Ikea E1743 in",
        "links": [
            "34ebad78371bfc78",
            "f053a430dbc7af77"
        ],
        "x": 2575,
        "y": 600,
        "wires": [
            [
                "54dd8d6bf95fde5b"
            ]
        ]
    },
    {
        "id": "34ebad78371bfc78",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Ikea E1743 out",
        "mode": "link",
        "links": [
            "0140bb4b0c66e251",
            "e4ed3f9404692874"
        ],
        "x": 2515,
        "y": 600,
        "wires": []
    },
    {
        "id": "b80d54c068c87573",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Ikea ICPSHC24 in",
        "links": [
            "b0b36a57add1ac04",
            "cc69481ddb4239d7"
        ],
        "x": 2575,
        "y": 660,
        "wires": [
            [
                "40855101e292585d"
            ]
        ]
    },
    {
        "id": "b0b36a57add1ac04",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Ikea ICPSHC24 out",
        "mode": "link",
        "links": [
            "1d935a19c2d48baa",
            "b80d54c068c87573",
            "e4ed3f9404692874"
        ],
        "x": 2515,
        "y": 660,
        "wires": []
    },
    {
        "id": "612c74f54c20b775",
        "type": "comment",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi WSDCGQ11LM Temp sensor",
        "info": "Which domoticz dummy needed:\n- Temp+Hum+Baro\n\n\ntele/tasmota_9467D4/SENSOR : msg.payload : Object\nobject\nZbReceived: object\n0x4C81: object\nDevice: \"0x4C81\"\nName: \"Temp_woonkamer\"\nTemperature: 20.78\nHumidity: 59.98\nPressure: 995\nPressureScale: -1\nPressureScaledValue: 9957\nSeaPressure: 995\nEndpoint: 1\nLinkQuality: 149\n\n20.68;54.87;0;996;0\n\nhttps://www.domoticz.com/wiki/Domoticz_API/JSON_URL's#Temperature.2Fhumidity.2Fbarometer",
        "x": 3100,
        "y": 720,
        "wires": []
    },
    {
        "id": "36acea7aea3e0385",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "name": " Xiaomi WSDCGQ11LM temp sensor",
        "func": "msg.topic = \"domoticz/in\";\nvar idx = msg.payload.ZbReceived.idx;\nvar idxbat = msg.payload.ZbReceived.idxbat;\nvar idxper = msg.payload.ZbReceived.idxper;\nvar idxlink = msg.payload.ZbReceived.idxlink;\nvar zigbeeid = msg.payload.ZbReceived.zigbeeid;\n\nvar batmsg;\nvar permsg;\nvar linkmsg;\nvar valuebat;\nvar valuebatdummy;\nvar valuebatperc;\nvar valuelink;\n\nif ( msg.payload.ZbReceived[zigbeeid] ) {    \n    //Set value batterij voltage idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"BatteryVoltage\")) {\n        valuebatdummy = msg.payload.ZbReceived[zigbeeid].BatteryVoltage;\n        valuebat = (Math.round(valuebatdummy * 10))/10.0;\n    }\n    //Set value batterij percentage idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"BatteryPercentage\")) {\n        valuebatperc = msg.payload.ZbReceived[zigbeeid].BatteryPercentage;\n    }\n    //Set value linkQuality idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"LinkQuality\")) {\n        valuelink = msg.payload.ZbReceived[zigbeeid].LinkQuality;\n    }\n    \n    var tempdummy = msg.payload.ZbReceived[zigbeeid].Temperature;\n    var temp = (Math.round(tempdummy * 10))/10.0;\n    var hum = msg.payload.ZbReceived[zigbeeid].Humidity;\n    var humstat = 0;\n    if ( hum < 30 ) {\n        humstat = 2;\n    }\n    else if (( hum >= 30) && ( hum <= 45))  {\n        humstat = 0;\n    }\n    else if (( hum >= 46) && ( hum <= 70))  {\n        humstat = 1;\n    }\n    else {\n        humstat = 3;\n    }\n    var bar = msg.payload.ZbReceived[zigbeeid].Pressure;\n    if (temp !== undefined && hum !== undefined && bar !== undefined) {\n        msg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\":\"udevice\", \"idx\": idx, \"svalue\": \"\" + temp + \";\" + hum + \";\" + humstat + \";\" + bar + \";0\"}};\n    } else {\n        msg = null;\n    }    \n    if ( idxbat !== 0 ) {\n        if (valuebat !== undefined) {\n            batmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxbat , \"svalue\": \"\" + valuebat + \"\", \"parse\": false}}; \n        } else {\n            batmsg = null;\n        }\n    } else {\n        batmsg = null;\n    }\n    if ( idxper !== 0 ) {\n        if (valuebatperc !== undefined) {\n            permsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxper , \"svalue\": \"\" + valuebatperc + \"\", \"parse\": false}}; \n        } else {\n            permsg = null;\n        }\n    } else {\n        permsg = null;\n    }\n    if ( idxlink !== 0 ) {\n        if (valuelink !== undefined) {\n            linkmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxlink , \"svalue\": \"\" + valuelink + \"\", \"parse\": false}}; \n        } else {\n            linkmsg = null;\n        }\n    } else {\n        linkmsg = null;\n    }\n    return [msg, batmsg, permsg, linkmsg];\n}",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2250,
        "y": 720,
        "wires": [
            [
                "3f1912b0dfd34a67"
            ],
            [
                "3f1912b0dfd34a67"
            ],
            [
                "3f1912b0dfd34a67"
            ],
            [
                "3f1912b0dfd34a67"
            ]
        ]
    },
    {
        "id": "b371b25fac84c93c",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi WSDCGQ11LM tempsensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2780,
        "y": 720,
        "wires": []
    },
    {
        "id": "a3c1ee29665026e7",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi WSDCGQ11LM in",
        "links": [
            "3f1912b0dfd34a67",
            "b3b7f479cadb8496"
        ],
        "x": 2575,
        "y": 720,
        "wires": [
            [
                "b371b25fac84c93c"
            ]
        ]
    },
    {
        "id": "3f1912b0dfd34a67",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi WSDCGQ11LM out",
        "mode": "link",
        "links": [
            "a3c1ee29665026e7",
            "e4ed3f9404692874"
        ],
        "x": 2515,
        "y": 720,
        "wires": []
    },
    {
        "id": "4862248cd24ad41a",
        "type": "comment",
        "z": "32e6b1c785b786d2",
        "name": "Ikea ICPSHC24 led strip",
        "info": "Which domoticz dummy needed:\n- Switch dimmer (schakelaar dimmer)\n\nCode send by device:\nDevice: \"0x3743\"\nName: \"Lamp kleding\"\nDimmer: 25\nPower: 1 (or 0 when lamp off)\nEndpoint: 1\nLinkQuality: 134",
        "x": 3070,
        "y": 660,
        "wires": []
    },
    {
        "id": "39bf1ccf5b3a5faf",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "name": "Ikea Powerplug",
        "func": "if ( msg.src === 'tasmota' ) {\n    msg.topic = \"domoticz/in\";\n    var idx = msg.payload.ZbReceived.idx;\n    var idxlink = msg.payload.ZbReceived.idxlink;\n    var zigbeeid = msg.payload.ZbReceived.zigbeeid;\n\n    var linkmsg;\n    var valuelink;\n\n    if ( msg.payload.ZbReceived[zigbeeid] ) {    \n        //Set value linkQuality idx\n        if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"LinkQuality\")) {\n            valuelink = msg.payload.ZbReceived[zigbeeid].LinkQuality;\n        }\n  \n        if ( msg.payload.ZbReceived[zigbeeid] ) {    \n            if (msg.payload.ZbReceived[zigbeeid].Power === 1) {\n                msg.payload = {\"command\": \"udevice\" , \"idx\": idx , \"nvalue\": 1, \"svalue\": \"0\"};\n            }\n            else if (msg.payload.ZbReceived[zigbeeid].Power === 0) { \n                msg.payload = {\"command\": \"udevice\" , \"idx\": idx , \"nvalue\": 1, \"svalue\": \"0\"};\n            }\n\t\t    else {\n    \t\t    msg = null;\n\t\t    }\n            if ( idxlink !== 0 ) {\n                if (valuelink !== undefined) {\n                    linkmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxlink , \"svalue\": \"\" + valuelink + \"\", \"parse\": false}}; \n                } else {\n                    linkmsg = null;\n                }\n            } else {\n                linkmsg = null;\n            }\n            return [msg, linkmsg];\t\n        }\n    }\n}\n\nif ( msg.src === 'domoticz' ) {\n    var ZigbeeID = msg.payload.zigbeeid\n    var topicname = msg.payload.topicname;\n    if ( msg.payload.nvalue === 1) {\n        var msgpow1 = { \"topic\": \"cmnd/\" + topicname + \"/ZbSend\",\"payload\":{\"Device\":ZigbeeID,\"Send\":{\"Power\":1}}};\n        return [msgpow1, null];\n    } else if ( msg.payload.nvalue === 0) {\n        var msgpow0 = { \"topic\": \"cmnd/\" + topicname + \"/ZbSend\",\"payload\":{\"Device\":ZigbeeID,\"Send\":{\"Power\":0}}};\n        return [msgpow0, null];//\n    }\n    return [null, null];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2180,
        "y": 780,
        "wires": [
            [
                "5b1817084e40c724"
            ],
            [
                "5b1817084e40c724"
            ]
        ]
    },
    {
        "id": "5b1817084e40c724",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Ikea powerplug out",
        "mode": "link",
        "links": [
            "1d935a19c2d48baa",
            "e4ed3f9404692874",
            "f2361df7a8546931"
        ],
        "x": 2515,
        "y": 780,
        "wires": []
    },
    {
        "id": "f2361df7a8546931",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Ikea powerplug in",
        "links": [
            "5b1817084e40c724",
            "0c713a7cfa8a5968"
        ],
        "x": 2575,
        "y": 780,
        "wires": [
            [
                "2ae6865e6ac023ef"
            ]
        ]
    },
    {
        "id": "2ae6865e6ac023ef",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Ikea powerplug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2720,
        "y": 780,
        "wires": []
    },
    {
        "id": "60902a7262550dc1",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "name": " Xiaomi GZCGQ01LM lux-sensor",
        "func": "msg.topic = \"domoticz/in\";\nvar idx = msg.payload.ZbReceived.idx;\nvar idxbat = msg.payload.ZbReceived.idxbat;\nvar idxper = msg.payload.ZbReceived.idxper;\nvar idxlink = msg.payload.ZbReceived.idxlink;\nvar zigbeeid = msg.payload.ZbReceived.zigbeeid;\n\nvar batmsg;\nvar permsg;\nvar linkmsg;\nvar valuebat;\nvar valuebatdummy;\nvar valuebatperc;\nvar valuelink;\n\nif ( msg.payload.ZbReceived[zigbeeid] ) {    \n    //Set value batterij voltage idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"BatteryVoltage\")) {\n        valuebatdummy = msg.payload.ZbReceived[zigbeeid].BatteryVoltage;\n        valuebat = (Math.round(valuebatdummy * 10))/10.0;\n    }\n    //Set value batterij percentage idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"BatteryPercentage\")) {\n        valuebatperc = msg.payload.ZbReceived[zigbeeid].BatteryPercentage;\n    }\n    //Set value linkQuality idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"LinkQuality\")) {\n        valuelink = msg.payload.ZbReceived[zigbeeid].LinkQuality;\n    }\n\n    var lux = msg.payload.ZbReceived[zigbeeid].Illuminance\n\tif (lux !== undefined) {\n        msg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\":\"udevice\", \"idx\": idx, \"svalue\": \"\" + lux + \"\"}};\n    } else {\n        msg = null;\n    }    \n    if ( idxbat !== 0 ) {\n        if (valuebat !== undefined) {\n            batmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxbat , \"svalue\": \"\" + valuebat + \"\", \"parse\": false}}; \n        } else {\n            batmsg = null;\n        }\n    } else {\n        batmsg = null;\n    }\n    if ( idxper !== 0 ) {\n        if (valuebatperc !== undefined) {\n            permsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxper , \"svalue\": \"\" + valuebatperc + \"\", \"parse\": false}}; \n        } else {\n            permsg = null;\n        }\n    } else {\n        permsg = null;\n    }\n    if ( idxlink !== 0 ) {\n        if (valuelink !== undefined) {\n            linkmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxlink , \"svalue\": \"\" + valuelink + \"\", \"parse\": false}}; \n        } else {\n            linkmsg = null;\n        }\n    } else {\n        linkmsg = null;    \n    }\n    return [msg, batmsg, permsg, linkmsg];\n}",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2230,
        "y": 840,
        "wires": [
            [
                "507ba46b5bd868d8"
            ],
            [
                "507ba46b5bd868d8"
            ],
            [
                "507ba46b5bd868d8"
            ],
            [
                "507ba46b5bd868d8"
            ]
        ]
    },
    {
        "id": "507ba46b5bd868d8",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": " Xiaomi GZCGQ01LM lux-sensor out",
        "mode": "link",
        "links": [
            "620de55a7aed2e0c",
            "e4ed3f9404692874"
        ],
        "x": 2515,
        "y": 840,
        "wires": []
    },
    {
        "id": "620de55a7aed2e0c",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": " Xiaomi GZCGQ01LM lux-sensor in",
        "links": [
            "507ba46b5bd868d8",
            "577af1c346273217"
        ],
        "x": 2575,
        "y": 840,
        "wires": [
            [
                "6dc6133320d04d9d"
            ]
        ]
    },
    {
        "id": "6dc6133320d04d9d",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": " Xiaomi GZCGQ01LM lux-sensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2770,
        "y": 840,
        "wires": []
    },
    {
        "id": "6847bc92cfc5190c",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "name": " Xiaomi WSDCGQ01LM temp sensor",
        "func": "msg.topic = \"domoticz/in\";\nvar idx = msg.payload.ZbReceived.idx;\nvar idxbat = msg.payload.ZbReceived.idxbat;\nvar idxper = msg.payload.ZbReceived.idxper;\nvar idxlink = msg.payload.ZbReceived.idxlink;\nvar zigbeeid = msg.payload.ZbReceived.zigbeeid;\n\nvar batmsg;\nvar permsg;\nvar linkmsg;\nvar valuebat;\nvar valuebatdummy;\nvar valuebatperc;\nvar valuelink;\n\nif ( msg.payload.ZbReceived[zigbeeid] ) {    \n    //Set value batterij voltage idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"BatteryVoltage\")) {\n        valuebatdummy = msg.payload.ZbReceived[zigbeeid].BatteryVoltage;\n        valuebat = (Math.round(valuebatdummy * 10))/10.0;\n    }\n    //Set value batterij percentage idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"BatteryPercentage\")) {\n        valuebatperc = msg.payload.ZbReceived[zigbeeid].BatteryPercentage;\n    }\n    //Set value linkQuality idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"LinkQuality\")) {\n        valuelink = msg.payload.ZbReceived[zigbeeid].LinkQuality;\n    }\n    \n    var tempdummy = msg.payload.ZbReceived[zigbeeid].Temperature;\n    var temp = (Math.round(tempdummy * 10))/10.0;\n    var hum = msg.payload.ZbReceived[zigbeeid].Humidity;\n    var humstat = 0;\n    if ( hum < 30 ) {\n        humstat = 2;\n    }\n    else if (( hum >= 30) && ( hum <= 45))  {\n        humstat = 0;\n    }\n    else if (( hum >= 46) && ( hum <= 70))  {\n        humstat = 1;\n    }\n    else {\n        humstat = 3;\n    }\n    if (temp !== undefined && hum !== undefined) {\n        msg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\":\"udevice\", \"idx\": idx, \"svalue\": \"\" + temp + \";\" + hum + \";\" + humstat + \"\"}};\n    } else {\n        msg = null;\n    }    \n    \n    if ( idxbat !== 0 ) {\n        if (valuebat !== undefined) {\n            batmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxbat , \"svalue\": \"\" + valuebat + \"\", \"parse\": false}}; \n        } else {\n            batmsg = null;\n        }\n    } else { \n        batmsg = null;\n    }\n    if ( idxper !== 0 ) {\n        if (valuebatperc !== undefined) {\n            permsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxper , \"svalue\": \"\" + valuebatperc + \"\", \"parse\": false}}; \n        } else {\n            permsg = null;\n        }\n    } else {\n        permsg = null;\n    }\n    if ( idxlink !== 0 ) {\n        if (valuelink !== undefined) {\n            linkmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxlink , \"svalue\": \"\" + valuelink + \"\", \"parse\": false}}; \n        } else {\n            linkmsg = null;\n        }\n    } else {\n        linkmsg = null;\n    }\n    return [msg, batmsg, permsg, linkmsg];\n}",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2250,
        "y": 920,
        "wires": [
            [
                "a4e976adce8e3559"
            ],
            [
                "a4e976adce8e3559"
            ],
            [
                "a4e976adce8e3559"
            ],
            [
                "a4e976adce8e3559"
            ]
        ]
    },
    {
        "id": "96aebd5c66f18d71",
        "type": "comment",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi WSDCGQ01LM Temp sensor",
        "info": "Which domoticz dummy needed:\n- Temp+Hum",
        "x": 3100,
        "y": 920,
        "wires": []
    },
    {
        "id": "27205c55fd92a391",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi WSDCGQ01LM tempsensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2780,
        "y": 920,
        "wires": []
    },
    {
        "id": "c35a66d7c5a69ec6",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi WSDCGQ11LM in",
        "links": [
            "1a8398e557c7f9dd",
            "a4e976adce8e3559"
        ],
        "x": 2575,
        "y": 920,
        "wires": [
            [
                "27205c55fd92a391"
            ]
        ]
    },
    {
        "id": "a4e976adce8e3559",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi WSDCGQ11LM out",
        "mode": "link",
        "links": [
            "c35a66d7c5a69ec6",
            "e4ed3f9404692874"
        ],
        "x": 2515,
        "y": 920,
        "wires": []
    },
    {
        "id": "90f2623d0786a9e3",
        "type": "comment",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi GZCGQ01LM lux sensor",
        "info": "Which domoticz dummy needed:\n- Lux",
        "x": 3090,
        "y": 840,
        "wires": []
    },
    {
        "id": "c5662457d9d1f2ba",
        "type": "comment",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi Ikea Powerplug",
        "info": "Which domoticz dummy needed:\n- Switch (schakelaar)",
        "x": 3060,
        "y": 780,
        "wires": []
    },
    {
        "id": "4b827c89b5a138c4",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi doorsensor passtrue in",
        "mode": "link",
        "links": [
            "619657caaabed12e",
            "eb12fa8049a9c2f5"
        ],
        "x": 1995,
        "y": 160,
        "wires": []
    },
    {
        "id": "619657caaabed12e",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi doorsensor passtrue out",
        "links": [
            "4b827c89b5a138c4"
        ],
        "x": 2055,
        "y": 160,
        "wires": [
            [
                "ad164d166565ab20"
            ]
        ]
    },
    {
        "id": "9ef3e2703e3d169b",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi motion passtrue in",
        "mode": "link",
        "links": [
            "8859e1626155ce50",
            "d37266ca5003002f"
        ],
        "x": 1995,
        "y": 240,
        "wires": []
    },
    {
        "id": "8859e1626155ce50",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi motion passtrue out",
        "links": [
            "9ef3e2703e3d169b"
        ],
        "x": 2055,
        "y": 240,
        "wires": [
            [
                "036b4f949a146d7a"
            ]
        ]
    },
    {
        "id": "0958e7f86a6f7cfa",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi smoke passtrue in",
        "mode": "link",
        "links": [
            "81b0bc5b842b0fd9",
            "d9db49d0d2111c96"
        ],
        "x": 1995,
        "y": 320,
        "wires": []
    },
    {
        "id": "d9db49d0d2111c96",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi smoke passtrue out",
        "links": [
            "0958e7f86a6f7cfa"
        ],
        "x": 2055,
        "y": 320,
        "wires": [
            [
                "283b251afd36b91e"
            ]
        ]
    },
    {
        "id": "fe7e9b046fafa46d",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Osram mini switch passtrue in",
        "mode": "link",
        "links": [
            "96a9ba30ab4242d6",
            "b5be4ef2c3766c16"
        ],
        "x": 1995,
        "y": 400,
        "wires": []
    },
    {
        "id": "96a9ba30ab4242d6",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Osram mini switch passtrue out",
        "links": [
            "fe7e9b046fafa46d"
        ],
        "x": 2055,
        "y": 400,
        "wires": [
            [
                "e3ecd92d6e4b4333"
            ]
        ]
    },
    {
        "id": "a43480d97601b0b3",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Lidl Livarno CCT passtrue in",
        "mode": "link",
        "links": [
            "7f8f8c048a5a9e50",
            "cef06f729c47c34b"
        ],
        "x": 1995,
        "y": 460,
        "wires": []
    },
    {
        "id": "cef06f729c47c34b",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Lidl Livarno CCT passtrue out",
        "links": [
            "a43480d97601b0b3"
        ],
        "x": 2055,
        "y": 460,
        "wires": [
            [
                "74078727af5ee2e0"
            ]
        ]
    },
    {
        "id": "2ccae554b0a0eb62",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Heiman CO passtrue in",
        "mode": "link",
        "links": [
            "273dbf580278d699",
            "6bf493cc359ec5a6"
        ],
        "x": 1995,
        "y": 520,
        "wires": []
    },
    {
        "id": "273dbf580278d699",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Heiman CO passtrue out",
        "links": [
            "2ccae554b0a0eb62"
        ],
        "x": 2055,
        "y": 520,
        "wires": [
            [
                "a7f14c9f10b3d453"
            ]
        ]
    },
    {
        "id": "f053a430dbc7af77",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Ikea E1743 passtrue in",
        "mode": "link",
        "links": [
            "0140bb4b0c66e251",
            "e71c9c90170608a3",
            "372ad568c052f2cc"
        ],
        "x": 1995,
        "y": 600,
        "wires": []
    },
    {
        "id": "e71c9c90170608a3",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Ikea E1743 passtrue out",
        "links": [
            "f053a430dbc7af77"
        ],
        "x": 2055,
        "y": 600,
        "wires": [
            [
                "e3c55ccb8b099b3c"
            ]
        ]
    },
    {
        "id": "cc69481ddb4239d7",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Ikea ICPSHC24 LED passtrue in",
        "mode": "link",
        "links": [
            "69e480d5a2306292",
            "b80d54c068c87573"
        ],
        "x": 1995,
        "y": 660,
        "wires": []
    },
    {
        "id": "69e480d5a2306292",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Ikea ICPSHC24 LED passtrue out",
        "links": [
            "cc69481ddb4239d7"
        ],
        "x": 2055,
        "y": 660,
        "wires": [
            [
                "f7a424fbfaeca8b8"
            ]
        ]
    },
    {
        "id": "b3b7f479cadb8496",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi WSDCGQ11LM temp passtrue in",
        "mode": "link",
        "links": [
            "330e3c8d4d49643e",
            "a3c1ee29665026e7"
        ],
        "x": 1995,
        "y": 720,
        "wires": []
    },
    {
        "id": "330e3c8d4d49643e",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi WSDCGQ11LM temp passtrue out",
        "links": [
            "b3b7f479cadb8496"
        ],
        "x": 2055,
        "y": 720,
        "wires": [
            [
                "36acea7aea3e0385"
            ]
        ]
    },
    {
        "id": "0c713a7cfa8a5968",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Ikea Powerplug passtrue in",
        "mode": "link",
        "links": [
            "a3b9cf15f168221e",
            "f2361df7a8546931"
        ],
        "x": 1995,
        "y": 780,
        "wires": []
    },
    {
        "id": "a3b9cf15f168221e",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi Power plug passtrue out",
        "links": [
            "0c713a7cfa8a5968"
        ],
        "x": 2055,
        "y": 780,
        "wires": [
            [
                "39bf1ccf5b3a5faf"
            ]
        ]
    },
    {
        "id": "577af1c346273217",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi GZCGQ01LM Lux passtrue in",
        "mode": "link",
        "links": [
            "26e569e6a1eb2867",
            "620de55a7aed2e0c"
        ],
        "x": 1995,
        "y": 840,
        "wires": []
    },
    {
        "id": "26e569e6a1eb2867",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi GZCGQ01LM Lux passtrue out",
        "links": [
            "577af1c346273217"
        ],
        "x": 2055,
        "y": 840,
        "wires": [
            [
                "60902a7262550dc1"
            ]
        ]
    },
    {
        "id": "1a8398e557c7f9dd",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi WSDCGQ01LM temp passtrue in",
        "mode": "link",
        "links": [
            "74b5fa30a733b173",
            "c35a66d7c5a69ec6"
        ],
        "x": 1995,
        "y": 920,
        "wires": []
    },
    {
        "id": "74b5fa30a733b173",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi WSDCGQ01LM temp passtrue out",
        "links": [
            "1a8398e557c7f9dd"
        ],
        "x": 2055,
        "y": 920,
        "wires": [
            [
                "6847bc92cfc5190c"
            ]
        ]
    },
    {
        "id": "28f9407743c02b71",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Flogger link",
        "links": [],
        "x": 2575,
        "y": 1020,
        "wires": [
            [
                "c279eb08d2518c16"
            ]
        ]
    },
    {
        "id": "c9e73ce19c15f214",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi Watersensor passtrue in",
        "mode": "link",
        "links": [
            "561150ce2a02c788",
            "898dc4b2f4e31ea8"
        ],
        "x": 1995,
        "y": 980,
        "wires": []
    },
    {
        "id": "561150ce2a02c788",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi Watersensor passtrue out",
        "links": [
            "c9e73ce19c15f214"
        ],
        "x": 2055,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "6fd9bd11843c641b",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi Watersensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2740,
        "y": 980,
        "wires": []
    },
    {
        "id": "898dc4b2f4e31ea8",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Xiaomi Watersensor in",
        "links": [
            "c9e73ce19c15f214"
        ],
        "x": 2575,
        "y": 980,
        "wires": [
            [
                "6fd9bd11843c641b"
            ]
        ]
    },
    {
        "id": "fd871c5a92505ca3",
        "type": "delay",
        "z": "32e6b1c785b786d2",
        "name": "",
        "pauseType": "delay",
        "timeout": "1800",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2380,
        "y": 620,
        "wires": [
            [
                "34ebad78371bfc78"
            ]
        ]
    },
    {
        "id": "a7479fa3f6b2cba5",
        "type": "change",
        "z": "32e6b1c785b786d2",
        "name": "Set Control Ikea 1743",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "open",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 340,
        "wires": [
            [
                "5b88abafacecbe59"
            ]
        ]
    },
    {
        "id": "372ad568c052f2cc",
        "type": "link in",
        "z": "32e6b1c785b786d2",
        "name": "Block-gate-overrule-open",
        "links": [
            "f053a430dbc7af77"
        ],
        "x": 895,
        "y": 340,
        "wires": [
            [
                "a7479fa3f6b2cba5"
            ]
        ]
    },
    {
        "id": "5b88abafacecbe59",
        "type": "delay",
        "z": "32e6b1c785b786d2",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "1800",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1240,
        "y": 340,
        "wires": [
            [
                "1805c2bdbbc563df"
            ]
        ]
    },
    {
        "id": "f7a424fbfaeca8b8",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "name": "Ikea ICPSHC24 led strip",
        "func": "if ( msg.src === 'tasmota' ) {\n    msg.topic = \"domoticz/in\";\n    var idx = msg.payload.ZbReceived.idx;\n    var idxlink = msg.payload.ZbReceived.idxlink;\n    var zigbeeid = msg.payload.ZbReceived.zigbeeid;\n\n    var linkmsg;\n    var valuelink;\n\n    if ( msg.payload.ZbReceived[zigbeeid] ) {    \n        //Set value linkQuality idx\n        if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"LinkQuality\")) {\n            valuelink = msg.payload.ZbReceived[zigbeeid].LinkQuality;\n        }\n  \n        if ( msg.payload.ZbReceived[zigbeeid] ) {    \n            if (msg.payload.ZbReceived[zigbeeid].Power === 1) {\n                msg.payload = {\"command\": \"udevice\" , \"idx\": idx , \"nvalue\": 1, \"svalue\": \"0\", \"parse\": false};\n            }\n            else if (msg.payload.ZbReceived[zigbeeid].Power === 0) { \n                msg.payload = {\"command\": \"udevice\" , \"idx\": idx , \"nvalue\": 1, \"svalue\": \"0\", \"parse\": false};\n            }\n\t\t    else {\n    \t\t    msg = null;\n\t\t    }\n            if ( idxlink !== 0 ) {\n                if (valuelink !== undefined) {\n                    linkmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxlink , \"svalue\": \"\" + valuelink + \"\", \"parse\": false}}; \n                } else {\n                    linkmsg = null;\n                }\n            } else {\n                linkmsg = null;\n            }\n            return [msg, linkmsg];\t\n        }\n    }\n}\n\nif ( msg.src === 'domoticz' ) {\n        var ZigbeeID = msg.payload.zigbeeid\n        var level = (msg.payload.Level * 2.54);\n        var topicname = msg.payload.topicname;\n        if ( msg.payload.nvalue === 1) {\n            var msgpow1 = { \"topic\": \"cmnd/\" + topicname + \"/ZbSend\",\"payload\":{\"Device\":ZigbeeID,\"Send\":{\"Power\":1}}};\n            return [msgpow1, null];\n        } else if ( msg.payload.nvalue === 0) {\n            var msgpow0 = { \"topic\": \"cmnd/\" + topicname + \"/ZbSend\",\"payload\":{\"Device\":ZigbeeID,\"Send\":{\"Power\":0}}};\n            return [msgpow0, null];//\n        }\n        else {\n            var msglev = { \"topic\": \"cmnd/\" + topicname + \"/ZbSend\",\"payload\":{\"Device\":ZigbeeID,\"Send\":{\"Dimmer\":level}}};\n            return [null, msglev];\n        }\n    return [null, null];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2210,
        "y": 660,
        "wires": [
            [
                "b0b36a57add1ac04"
            ],
            [
                "b0b36a57add1ac04"
            ]
        ]
    },
    {
        "id": "036b4f949a146d7a",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "name": " Xiaomi motion senor",
        "func": "msg.topic = \"domoticz/in\";\nvar idx = msg.payload.ZbReceived.idx;\nvar idxbat = msg.payload.ZbReceived.idxbat;\nvar idxper = msg.payload.ZbReceived.idxper;\nvar idxlink = msg.payload.ZbReceived.idxlink;\nvar idxextra = msg.payload.ZbReceived.idxextra;\nvar zigbeeid = msg.payload.ZbReceived.zigbeeid;\n\nvar batmsg;\nvar permsg;\nvar linkmsg;\nvar extramsg;\nvar valuebat;\nvar valuebatdummy;\nvar valuebatperc;\nvar valuelink;\nvar valuelum;\n\nif ( msg.payload.ZbReceived[zigbeeid] ) {    \n    //Set value battery voltage idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"BatteryVoltage\")) {\n        valuebatdummy = msg.payload.ZbReceived[zigbeeid].BatteryVoltage;\n        valuebat = (Math.round(valuebatdummy * 10))/10.0;\n    }\n    //Set value battery percentage idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"BatteryPercentage\")) {\n        valuebatperc = msg.payload.ZbReceived[zigbeeid].BatteryPercentage;\n    }\n    //Set value linkQuality idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"LinkQuality\")) {\n        valuelink = msg.payload.ZbReceived[zigbeeid].LinkQuality;\n    }\n    //Set value Illuminance idx\n    if (msg.payload.ZbReceived[zigbeeid].hasOwnProperty(\"Illuminance\")) {\n        valuelum = msg.payload.ZbReceived[zigbeeid].Illuminance;\n    }\n\n\tvar updmsg0 = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idx , \"nvalue\": 0, \"svalue\": \"0\" , \"parse\": false}}; \n    var updmsg1 = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idx , \"nvalue\": 1, \"svalue\": \"0\" , \"parse\": false}}; \n    \n\tif (context.get(zigbeeid) === undefined) {\n        context.set(zigbeeid, 3);\n    }\n    \n\tif (msg.payload.ZbReceived[zigbeeid].Occupancy === 1) {\n        if (context.get(zigbeeid) === 0 || context.get(zigbeeid) === 3) {\n            context.set(zigbeeid, 1);      \n            msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"On\" };\n        }\n        else {\n            msg = null;\n        }\n    }\n\telse if (msg.payload.ZbReceived[zigbeeid].Occupancy === 0) {\n        if (context.get(zigbeeid) === 1 || context.get(zigbeeid) === 3) {\n            context.set(zigbeeid, 0);   \n            msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Off\" };\n        } \n        else if (context.get(zigbeeid) === 0) {  \n            msg = updmsg0; \n        }\n    }\n\telse {\n\t    msg = null; \n\t}\n\t\n\tif ( idxbat !== 0 ) {\n        if (valuebat !== undefined) {\n            batmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxbat , \"svalue\": \"\" + valuebat + \"\", \"parse\": false}}; \n        } else {\n            batmsg = null;\n        }\n\t} else {\n        batmsg = null;\n    }\n    if ( idxper !== 0 ) {\n        if (valuebatperc !== undefined) {\n            permsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxper , \"svalue\": \"\" + valuebatperc + \"\", \"parse\": false}}; \n        } else {\n            permsg = null;\n        }\n    } else {\n        permsg = null;\n    }\n    if ( idxlink !== 0 ) {\n        if (valuelink !== undefined) {\n            linkmsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxlink , \"svalue\": \"\" + valuelink + \"\", \"parse\": false}}; \n        } else {\n            linkmsg = null;\n        }\n    } else {\n        linkmsg = null;\n    }\n    if ( idxextra !== 0 ) {\n        if (valuelum !== undefined) {\n            extramsg = { \"topic\": \"domoticz/in\",\"payload\":{\"command\": \"udevice\" , \"idx\": idxextra , \"svalue\": \"\" + valuelum + \"\", \"parse\": false}}; \n        } else {\n            extramsg = null;\n        }\n    } else {\n        extramsg = null;\n    }\n    return [msg, batmsg, permsg, linkmsg, extramsg];\n}",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2200,
        "y": 240,
        "wires": [
            [
                "7c39b8f4766d8af2"
            ],
            [
                "7c39b8f4766d8af2"
            ],
            [
                "7c39b8f4766d8af2"
            ],
            [
                "7c39b8f4766d8af2"
            ],
            [
                "7c39b8f4766d8af2"
            ]
        ]
    },
    {
        "id": "397d1f72ee768ae0",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "Tasmota Json Receive",
        "mode": "link",
        "links": [],
        "x": 1135,
        "y": 440,
        "wires": []
    },
    {
        "id": "f381f56d1b97d99e",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "d": true,
        "name": "E1743 last seen",
        "func": "var getflow = flow.keys();\nvar m_out=[]; //array for message objects\nvar idx;\nvar level;\n\nfor ( var i = 0; i < getflow.length; i++ ) {\n    var zigbeedevice = getflow[i]; //geeft het zigbee ID\n    idx = flow.get(zigbeedevice)[0]; //geeft array0\n    level = flow.get(zigbeedevice)[1]; //geeft array1\n    msg.topic = \"domoticz/in\";\n    msg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": \"Set Level\", \"level\": level, \"parse\": false};\n    m_out.push(msg);\n}\n\nreturn[m_out];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 680,
        "wires": [
            [
                "fff088000ef81383"
            ]
        ]
    },
    {
        "id": "496252e1c4153215",
        "type": "inject",
        "z": "32e6b1c785b786d2",
        "name": "Every 12 hours",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "43200",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 1160,
        "y": 700,
        "wires": [
            [
                "ccf0ce108a646aba",
                "f381f56d1b97d99e"
            ]
        ]
    },
    {
        "id": "ccf0ce108a646aba",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "name": "E1743 bat+link",
        "func": "var getflow = flow.keys();\nvar m_out=[]; //array for message objects\nvar topicname;\n\nfor ( var j = 0; j < getflow.length; j++ ) {\n    var zigbeedevice = getflow[j]; //geeft het zigbee ID\n    topicname = flow.get(zigbeedevice)[2]; //geeft array0\n    msg.topic = \"cmnd/\" + topicname + \"/ZbInfo\"\n    msg.payload = zigbeedevice;\n    m_out.push(msg);\n}\n\nreturn[m_out];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 720,
        "wires": [
            [
                "fff088000ef81383"
            ]
        ]
    },
    {
        "id": "5754549a4a868ca2",
        "type": "debug",
        "z": "32e6b1c785b786d2",
        "name": "Not in the tasmota ID filter",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2090,
        "y": 100,
        "wires": []
    },
    {
        "id": "7f8b0447b2aab70c",
        "type": "switch",
        "z": "32e6b1c785b786d2",
        "name": "Filter data",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ZbReceived",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ZbInfo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 560,
        "wires": [
            [
                "ad071cf746fd4fd2"
            ],
            [
                "7e50ad36620eb3e9"
            ]
        ]
    },
    {
        "id": "7e50ad36620eb3e9",
        "type": "function",
        "z": "32e6b1c785b786d2",
        "name": "add src",
        "func": "msg.src = 'tasmotainfo';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 580,
        "wires": [
            [
                "0f01862f36be38ab"
            ]
        ]
    },
    {
        "id": "fff088000ef81383",
        "type": "link out",
        "z": "32e6b1c785b786d2",
        "name": "",
        "mode": "link",
        "links": [
            "e4ed3f9404692874"
        ],
        "x": 1515,
        "y": 700,
        "wires": []
    },
    {
        "id": "b1bc1db1ae7424c0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "verifyservercert": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f6ad6c620c7a1df8",
        "type": "config-log",
        "logname": "DeviceLogSonoffZigbee",
        "logdir": "/home/pi/domoticz/scripts/",
        "stamp": "local",
        "logstyle": "plain",
        "logrotate": true,
        "logcompress": false,
        "logrotatecount": "15",
        "logsize": "100"
    }
]
